<%- include('parts/head1') %>
<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<%- include('parts/menu') %>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" id="disease">
	</div>
	<!-- end breadcrumb section -->

	<!-- single article section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-article-section">
						<div class="single-article-text">
							<div class="single-artcile-bg" id="Blights"></div>
							<h2>葉枯病:</h2>
							<p>通常比葉斑病區更大，形狀更不規則。有時，葉子的“枯萎”外觀是許多小斑點合併的結果。通常通用名稱包括“枯萎病”一詞，例如南方玉米葉枯病或早枯病。</p>
						</div>
						<div class="single-article-text">
							<div class="single-artcile-bg"></div>
							<h2>照顧方式:</h2>
							<p>1. 平時要施足基肥，以提高抗病力。</p>
							<p>2. 及時清理溝系，防止雨後積水，以免給病害產生提供好的條件。</p>
							<p>3. 經常通風換氣，降低葉面濕度，減少侵染機會。</p>
                            <p>4. 及時摘除病葉，清除病落葉，以減少傳染源。</p>
                            <p>5. 選用無病種子，提倡輪作，防止病害繼續侵染。</p>
						</div>
						<div class="single-article-text">
							<div class="single-artcile-bg"></div>
							<h2>治療方式:</h2>
							<p>可用1：1：100倍的波爾多液、50%托布津500-800倍液、50%多菌靈可濕性粉劑1000倍（或40%膠懸劑600-800倍）、50%苯萊特1000-1500倍、65%代森鋅500倍液等藥劑，可供選用或交替使用，每隔10天左右噴1次藥，連噴幾次可有效的予以防治。</p>
						</div>


						<div class="comment-template">
							<h4>還有其他問題嗎?</h4>
							<p>留言給我們，會盡快回覆給您</p>
							<form action="index.html">
								<p>
									<input type="text" placeholder="Your Name">
									<input type="email" placeholder="Your Email">
								</p>
								<p><textarea name="comment" id="comment" cols="30" rows="10"
										placeholder="Your Message"></textarea></p>
								<p><input type="submit" value="送出"></p>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- <div class="col-lg-4">
			<div class="sidebar-section">
				<div class="recent-posts">
					<h4>Recent Posts</h4>
					<ul>
						<li><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></li>
						<li><a href="single-news.html">A man's worth has its season, like tomato.</a></li>
						<li><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></li>
						<li><a href="single-news.html">Fall in love with the fresh orange</a></li>
						<li><a href="single-news.html">Why the berries always look delecious</a></li>
					</ul>
				</div>
				<div class="archive-posts">
					<h4>Archive Posts</h4>
					<ul>
						<li><a href="single-news.html">JAN 2019 (5)</a></li>
						<li><a href="single-news.html">FEB 2019 (3)</a></li>
						<li><a href="single-news.html">MAY 2019 (4)</a></li>
						<li><a href="single-news.html">SEP 2019 (4)</a></li>
						<li><a href="single-news.html">DEC 2019 (3)</a></li>
					</ul>
				</div>
				<div class="tag-section">
					<h4>Tags</h4>
					<ul>
						<li><a href="single-news.html">Apple</a></li>
						<li><a href="single-news.html">Strawberry</a></li>
						<li><a href="single-news.html">BErry</a></li>
						<li><a href="single-news.html">Orange</a></li>
						<li><a href="single-news.html">Lemon</a></li>
						<li><a href="single-news.html">Banana</a></li>
					</ul>
				</div>
			</div>
		</div> -->
	</div>
	</div>
	</div>
	<!-- end single article section -->


	<!-- footer -->
	<%- include('parts/footer') %>	<!-- end copyright -->

	<!-- jquery -->
	<%- include('parts/js') %>