<%- include('parts/head') %>

    <body>

        <!--PreLoader-->
        <div class="loader">
            <div class="loader-inner">
                <div class="circle"></div>
            </div>
        </div>
        <!--PreLoader Ends-->

        <!-- header -->
        <%- include('parts/menu') %>
            <!-- end search area -->

            <!-- hero area -->
            <div class="hero-area hero-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 offset-lg-2 text-center">
                            <div class="hero-text">
                                <div class="hero-text-tablecell">
                                    <p class="subtitle"></p>
                                    <h1>My Farm</h1>
                                    <div class="hero-btns">
                                        <a href="/photo" class="boxed-btn">我的照片</a>
                                        <!-- <a href="contact.html" class="bordered-btn">Contact Us</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end hero area -->

            <!-- features list section -->
            <!-- <div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div> -->
            <!-- end features list section -->

            <!-- product section -->
            <!-- <div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">My</span> Farm</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="public/img/products/product-img-1.jpg" alt=""></a>
						</div>
						<h3>Strawberry</h3>
						<p class="product-price"><span>Per Kg</span> 85$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="public/img/products/product-img-2.jpg" alt=""></a>
						</div>
						<h3>Berry</h3>
						<p class="product-price"><span>Per Kg</span> 70$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="public/img/products/product-img-3.jpg" alt=""></a>
						</div>
						<h3>Lemon</h3>
						<p class="product-price"><span>Per Kg</span> 35$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->
            <!-- end product section -->

            <!-- cart banner section -->
            <!-- <section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix"> -->
            <!--Image Column-->
            <!-- <div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> off per kg
                                </span>
                            </div>
                        </div>
                    	<img src="public/img/a.jpg" alt="">
                    </div>
                </div> -->
            <!--Content Column-->
            <!-- <div class="content-column col-lg-6">
					<h3><span class="orange-text">Deal</span> of the month</h3>
                    <h4>Hikan Strwaberry</h4>
                    <div class="text">Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae, minima quisquam molestias facere ea. Perspiciatis unde omnis iste natus error sit voluptatem accusant</div> -->
            <!--Countdown Timer-->
            <!-- <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </section> -->
            <!-- end cart banner section -->

            <!-- testimonail-section -->
            <div class="testimonail-section mt-150 mb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center">
                            <div class="testimonial-sliders">
                                <div class="single-testimonial-slider">
                                    <div class="client-avater">
                                        <img src="img/avaters/avatar1.png" alt="">
                                    </div>
                                    <div class="client-meta">
                                        <h3>Saira Hakim <span>Local shop owner</span></h3>
                                        <p class="testimonial-body">
                                            " Sed ut perspiciatis unde omnis iste natus error veritatis et quasi
                                            architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut
                                            perspiciatis unde omnis iste natus error sit voluptatem accusantium "
                                        </p>
                                        <div class="last-icon">
                                            <i class="fas fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-testimonial-slider">
                                    <div class="client-avater">
                                        <img src="img/avaters/avatar2.png" alt="">
                                    </div>
                                    <div class="client-meta">
                                        <h3>David Niph <span>Local shop owner</span></h3>
                                        <p class="testimonial-body">
                                            " Sed ut perspiciatis unde omnis iste natus error veritatis et quasi
                                            architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut
                                            perspiciatis unde omnis iste natus error sit voluptatem accusantium "
                                        </p>
                                        <div class="last-icon">
                                            <i class="fas fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-testimonial-slider">
                                    <div class="client-avater">
                                        <img src="img/avaters/avatar3.png" alt="">
                                    </div>
                                    <div class="client-meta">
                                        <h3>Jacob Sikim <span>Local shop owner</span></h3>
                                        <p class="testimonial-body">
                                            " Sed ut perspiciatis unde omnis iste natus error veritatis et quasi
                                            architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut
                                            perspiciatis unde omnis iste natus error sit voluptatem accusantium "
                                        </p>
                                        <div class="last-icon">
                                            <i class="fas fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end testimonail-section -->

            <!-- advertisement section -->
            <div class="abt-section mb-30">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-lg-6 col-md-12">
                            <div class="abt-bg">
                                <a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ"
                                    class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
                            </div>
                        </div> -->

                    </div>

                </div>
            </div>
            <div class="AboutBox">

                <section class="container beige" style="text-align: center;">
                    <div class="tabs_name ">
                        <ul>
                            <li class="active">fully customizable</li>
                            <li>about services</li>
                            <li>project team</li>
                        </ul>
                    </div>
                    <div class="tabs main ">
                        <div class="tab active">
                            <h2>依您的需求量身打造</h2>
                            <div class="title" style="font-size: 1.2rem">
                                <p style="font-size: 1.2rem">
                                    拍攝時間、次數、數量、由您決定
                                </p>
                            </div>

                            <div class="slider_container">
                                <ul id="slider1" class="rslides">
                                    <li><img src="img/about-bg2-1.jpg" alt="" /></li>
                                    <li><img src="img/about-img.jpg" alt="" /></li>
                                    <li><img src="img/billionphotos1704770.jpg" alt="" /></li>
                                </ul>
                            </div>

                        </div>
                        <div class="tab">
                            <h2>About Services</h2>
                            <div class="columns_2">
                                <div class="item">
                                    <div class="icon"><img src="images-about/icons/1.png" alt=""></div>
                                    <div class="content">
                                        <h4 class="light black">豐富的超強資料庫</h4>
                                        <span>我們不斷擴增資料庫，讓你全面掌握豐富的植物知識。</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon"><img src="images-about/icons/2.png" alt=""></div>
                                    <div class="content">
                                        <h4 class="light black">隨手一拍識植物</h4>
                                        <span>只要上傳植物照片，即可運用我們的革命性人工智慧引擎，立即獲得精準的植物辨識結果。</span>
                                    </div>
                                </div>
                            </div>
                            <div class="columns_2">
                                <div class="item">
                                    <div class="icon"><img src="images-about/icons/3.png" alt=""></div>
                                    <div class="content">
                                        <h4 class="light black">自動問題診斷</h4>
                                        <span>植物生病了嗎？只要拍照上傳植物生病的部位，即可了解症狀並取得治療建議。</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="icon"><img src="images-about/icons/4.png" alt=""></div>
                                    <div class="content">
                                        <h4 class="light black">專屬機器人即時諮詢</h4>
                                        <span>由我們的植物專家為您解惑，提供植物養護建議，協助解決任何園藝問題。</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <h2>Project TEAM</h2>
                            <div class="team vertical">
                                <div class="item">
                                    <div class="image">
                                        <img src="images-about/18.png" alt="">

                                    </div>
                                    <div class="content right">
                                        <a href="#">
                                            <h4 class="light black">胡統盛</h4>
                                        </a>
                                        <a href="#"><span>Web Designer</span></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="images-about/19.png" alt="">
                                    </div>
                                    <div class="content left">
                                        <a href="#">
                                            <h4 class="light black">張鈺坤</h4>
                                        </a>
                                        <a href="#"><span>Web Developer</span></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="images-about/17.png" alt="">

                                    </div>
                                    <div class="content right">
                                        <a href="#">
                                            <h4 class="light black">鄒易泰</h4>
                                        </a>
                                        <a href="#"><span>Project Manager</span></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="images-about/19.png" alt="">

                                    </div>
                                    <div class="content left">
                                        <a href="#">
                                            <h4 class="light black">張倚慈</h4>
                                        </a>
                                        <a href="#"><span>Web Developer</span></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="images-about/18.png" alt="">

                                    </div>
                                    <div class="content right">
                                        <a href="#">
                                            <h4 class="light black">廖子涵</h4>
                                        </a>
                                        <a href="#"><span>Web Designer</span></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src="images-about/19.png" alt="">

                                    </div>
                                    <div class="content left">
                                        <a href="#">
                                            <h4 class="light black">吳嘉佳</h4>
                                        </a>
                                        <a href="#"><span>Web Developer</span></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </section>
            </div>

            <!-- end advertisement section -->

            <!-- shop banner -->
            <!-- <section class="shop-banner">
    	<div class="container">
        	<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
            <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
            <a href="shop.html" class="cart-btn btn-lg">Shop Now</a>
        </div>
    </section> -->
            <!-- end shop banner -->

            <!-- latest news -->
            <!-- <div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> News</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="news.html" class="boxed-btn">More News</a>
				</div>
			</div>
		</div>
	</div> -->
            <!-- end latest news -->

            <!-- logo carousel -->
            <!-- <div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="public/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="public/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="public/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="public/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="public/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
            <!-- end logo carousel -->

            <!-- footer -->
            <%- include('parts/footer') %>
                <!-- end copyright -->

                <!-- jquery -->
                <%- include('parts/js') %>


                    <script type="text/javascript" src="js/jquery.min.js"></script>
                    <script type="text/javascript" src="js/_front.js"></script>
                    <script type="text/javascript" src="js/responsiveslides.js"></script>

                    <script>
                        jQuery('.tabs_name li').click(function () {
                            var index = jQuery(this).index() + 1;

                            jQuery('.active').removeClass('active');
                            jQuery(this).addClass('active');
                            jQuery('.tabs .tab.active').removeClass('active');
                            jQuery('.tabs').find('.tab:nth-child(' + index + ')').addClass('active');
                        });
                    </script>

    </body>

    </html>