<%- include('parts/head1') %>
<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<%- include('parts/menu') %>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" id="disease">
	</div>
	<!-- end breadcrumb section -->

	<!-- single article section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-article-section">
						<div class="single-article-text">
							<div class="single-artcile-bg" id="Mildew"></div>
							<h2>白粉病:</h2>
							<p>是一種表面的、白色到淺灰色、粉狀到粉狀的生長在葉子上，但也可能發生在莖和花上。受影響的葉子通常會變黃、枯萎並迅速死亡。這個問題在葫蘆類蔬菜和小穀物上很常見。</p>
						</div>
						<div class="single-article-text">
							<div class="single-artcile-bg"></div>
							<h2>照顧方式:</h2>
							<p>1. 土壤不要太潮溼，定期清潔葉面，但葉子不要殘留水分。盆栽植物買回來後，也可以提前預防白粉病，最好的方法就是給植物多一點的陽光，植物養護的環境要保持有儘量良好的通風，植物之間不要栽種過度密集，如果是種在花盆裡的植物，只要保持枝葉之間要有適當的通風環境，不要讓葉子長的過度密集。</p>
							<p>2. 平常給植物澆水的時候要儘量避開葉子，也就是說澆水的時候,就直接澆在盆土裡，如果葉子上長期殘留水分，是比較容易感染白粉病的。</p>
						</div>
						<div class="single-article-text">
							<div class="single-artcile-bg"></div>
							<h2>治療方式:</h2>
							<p>1. 加肥皂水的作用是更能附著於植物上，加強效果。(大約一公升的清水，放半個湯匙的蘇打粉，混勻後，再加上半茶匙的肥皂水(洗碗液)。)</p>
							<p>2. 楝樹油對很多葉子疾病都有效，不過對於白粉病，預防作用大過治療。此外對於控制病情也有效。</p>
						</div>


						<div class="comment-template">
							<h4>還有其他問題嗎?</h4>
							<p>留言給我們，會盡快回覆給您</p>
							<form action="index.html">
								<p>
									<input type="text" placeholder="Your Name">
									<input type="email" placeholder="Your Email">
								</p>
								<p><textarea name="comment" id="comment" cols="30" rows="10"
										placeholder="Your Message"></textarea></p>
								<p><input type="submit" value="送出"></p>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- <div class="col-lg-4">
			<div class="sidebar-section">
				<div class="recent-posts">
					<h4>Recent Posts</h4>
					<ul>
						<li><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></li>
						<li><a href="single-news.html">A man's worth has its season, like tomato.</a></li>
						<li><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></li>
						<li><a href="single-news.html">Fall in love with the fresh orange</a></li>
						<li><a href="single-news.html">Why the berries always look delecious</a></li>
					</ul>
				</div>
				<div class="archive-posts">
					<h4>Archive Posts</h4>
					<ul>
						<li><a href="single-news.html">JAN 2019 (5)</a></li>
						<li><a href="single-news.html">FEB 2019 (3)</a></li>
						<li><a href="single-news.html">MAY 2019 (4)</a></li>
						<li><a href="single-news.html">SEP 2019 (4)</a></li>
						<li><a href="single-news.html">DEC 2019 (3)</a></li>
					</ul>
				</div>
				<div class="tag-section">
					<h4>Tags</h4>
					<ul>
						<li><a href="single-news.html">Apple</a></li>
						<li><a href="single-news.html">Strawberry</a></li>
						<li><a href="single-news.html">BErry</a></li>
						<li><a href="single-news.html">Orange</a></li>
						<li><a href="single-news.html">Lemon</a></li>
						<li><a href="single-news.html">Banana</a></li>
					</ul>
				</div>
			</div>
		</div> -->
	</div>
	</div>
	</div>
	<!-- end single article section -->


	<!-- footer -->
	<%- include('parts/footer') %>	<!-- end copyright -->

	<!-- jquery -->
	<%- include('parts/js') %>