<%- include('parts/head1') %>
<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<%- include('parts/menu') %>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" id="disease">
	</div>
	<!-- end breadcrumb section -->

	<!-- single article section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-article-section">
						<div class="single-article-text">
							<div class="single-artcile-bg" id="Rusts"></div>
							<h2>銹病:</h2>
							<p>會產生類似於葉斑的斑點，但這些斑點被稱為“膿皰”。銹膿皰呈亮黃色、橙紅色、紅棕色或黑色。膿皰通常高出葉面，當用白布擦拭時，通常可以在白布上看到與膿皰顏色相同的有色沉積物。在嚴重的情況下，葉子會迅速枯萎並死亡。莖上也會出現某些類型的銹病。銹病在穀物和草上很常見。</p>
						</div>
						<div class="single-article-text">
							<div class="single-artcile-bg"></div>
							<h2>照顧方式:</h2>
							<p>1. 選用抗病優良品種。</p>
							<p>2. 注意通風透光，降低溼度。</p>
							<p>3. 剪除病枝、病芽、病葉，燒燬或埋人土中。</p>
							<p>4. 選用疏鬆、排水良好的培養土，勤除雜草。</p>
							<p>5. 休眠期噴石硫合劑，以消滅侵染來源。</p>
							<p>6. 增施磷、鉀、鎂肥，控制氮肥量，以防徒長，提高植株抗性。</p>
							<p>7. 新葉展開後噴藥防治，可選用25％的粉鏽靈1500～2000倍液、敵鏽鈉250～300倍液、50％的代森錳鋅500倍液、0.2～0.4％的波美度的石硫合劑、75％的氧化萎鏽靈3000倍液。</p>
						</div>
						<div class="single-article-text">
							<div class="single-artcile-bg"></div>
							<h2>治療方式:</h2>
							<p>多菌靈或硫懸浮劑。一般是每隔7~10天對葉面噴灑一次，連續噴灑2~3次就能達到清除的效果了。如果不想噴殺菌藥，可以用到小蘇打，5毫升的小蘇打就需要混入3~4升的清水裡，要注意攪拌均勻，可以適當添加兩三滴植物油，可以增強粘附的效果。。</p>
						</div>


						<div class="comment-template">
							<h4>還有其他問題嗎?</h4>
							<p>留言給我們，會盡快回覆給您</p>
							<form action="index.html">
								<p>
									<input type="text" placeholder="Your Name">
									<input type="email" placeholder="Your Email">
								</p>
								<p><textarea name="comment" id="comment" cols="30" rows="10"
										placeholder="Your Message"></textarea></p>
								<p><input type="submit" value="送出"></p>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- <div class="col-lg-4">
			<div class="sidebar-section">
				<div class="recent-posts">
					<h4>Recent Posts</h4>
					<ul>
						<li><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></li>
						<li><a href="single-news.html">A man's worth has its season, like tomato.</a></li>
						<li><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></li>
						<li><a href="single-news.html">Fall in love with the fresh orange</a></li>
						<li><a href="single-news.html">Why the berries always look delecious</a></li>
					</ul>
				</div>
				<div class="archive-posts">
					<h4>Archive Posts</h4>
					<ul>
						<li><a href="single-news.html">JAN 2019 (5)</a></li>
						<li><a href="single-news.html">FEB 2019 (3)</a></li>
						<li><a href="single-news.html">MAY 2019 (4)</a></li>
						<li><a href="single-news.html">SEP 2019 (4)</a></li>
						<li><a href="single-news.html">DEC 2019 (3)</a></li>
					</ul>
				</div>
				<div class="tag-section">
					<h4>Tags</h4>
					<ul>
						<li><a href="single-news.html">Apple</a></li>
						<li><a href="single-news.html">Strawberry</a></li>
						<li><a href="single-news.html">BErry</a></li>
						<li><a href="single-news.html">Orange</a></li>
						<li><a href="single-news.html">Lemon</a></li>
						<li><a href="single-news.html">Banana</a></li>
					</ul>
				</div>
			</div>
		</div> -->
	</div>
	</div>
	</div>
	<!-- end single article section -->


	<!-- footer -->
	<%- include('parts/footer') %>	<!-- end copyright -->

	<!-- jquery -->
	<%- include('parts/js') %>