<%- include('parts/head1') %>
<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<%- include('parts/menu') %>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg" id="disease">
	</div>
	<!-- end breadcrumb section -->

	<!-- single article section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-article-section">
						<div class="single-article-text">
							<div class="single-artcile-bg" id="Spots"></div>
							<h2>葉斑病（其他名稱：炭疽病、瘡痂病、小孔）:</h2>
							<p>通常是大小、形狀和顏色各不相同的相當明確的斑點。幾乎總是有一個獨特的邊緣。有時，可能由細菌或真菌引起的斑點被黃色光暈包圍。</p>
							<p>如果是由真菌引起的，那麼現場幾乎總會有某種類型的真菌生長，尤其是在潮濕的天氣裡。這種真菌生長可能是微小的疙瘩狀結構，通常是黑色的，或者是發霉的孢子生長。通常需要使用手持鏡頭或顯微鏡來觀察這些結構。
							</p>
							<p>如果斑點很多或靠近在一起，病變區域可能會結合在一起形成稱為“斑點”的不規則區域。葉斑病的俗名可能比較籠統，如細菌性葉斑病。</p>
						</div>
						<div class="single-article-text">
							<div class="single-artcile-bg"></div>
							<h2>照顧方式:</h2>
							<p>1.合理施肥，使用腐殖酸或海藻素等有機肥沖施，提高樹勢；抽梢期葉面補充鋅肥和鎂肥，促嫩梢老熟轉綠。</p>
							<p>2.合理修剪，避免封行，保證通風透光，減少果園濕度；清理病枝，減少侵染源。</p>
							<p>3.雨前雨後重防，注意藥劑輪換使用。雨前使用殺菌劑比雨後用藥效果要好很多。</p>
						</div>
						<div class="single-article-text">
							<div class="single-artcile-bg"></div>
							<h2>治療方式:</h2>
							<p>1.發病前推薦使用保護性殺菌劑，如丙森鋅、代森錳鋅和銅製劑如氧化亞銅、氫氧化銅、喹啉銅等。</p>
							<p>2.發病後推薦使用具有內吸性的殺菌劑，三唑類殺菌劑是防治該病的主流藥物，如氟矽唑、戍唑醇、甲環唑、丙環唑等。另外啶醯菌胺、腐霉利、異菌脲等防治效果也不錯。保護性與內吸性殺菌劑同時使用效果更好。
							</p>
						</div>


						<div class="comment-template">
							<h4>還有其他問題嗎?</h4>
							<p>留言給我們，會盡快回覆給您</p>
							<form action="index.html">
								<p>
									<input type="text" placeholder="Your Name">
									<input type="email" placeholder="Your Email">
								</p>
								<p><textarea name="comment" id="comment" cols="30" rows="10"
										placeholder="Your Message"></textarea></p>
								<p><input type="submit" value="送出"></p>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- <div class="col-lg-4">
			<div class="sidebar-section">
				<div class="recent-posts">
					<h4>Recent Posts</h4>
					<ul>
						<li><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></li>
						<li><a href="single-news.html">A man's worth has its season, like tomato.</a></li>
						<li><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></li>
						<li><a href="single-news.html">Fall in love with the fresh orange</a></li>
						<li><a href="single-news.html">Why the berries always look delecious</a></li>
					</ul>
				</div>
				<div class="archive-posts">
					<h4>Archive Posts</h4>
					<ul>
						<li><a href="single-news.html">JAN 2019 (5)</a></li>
						<li><a href="single-news.html">FEB 2019 (3)</a></li>
						<li><a href="single-news.html">MAY 2019 (4)</a></li>
						<li><a href="single-news.html">SEP 2019 (4)</a></li>
						<li><a href="single-news.html">DEC 2019 (3)</a></li>
					</ul>
				</div>
				<div class="tag-section">
					<h4>Tags</h4>
					<ul>
						<li><a href="single-news.html">Apple</a></li>
						<li><a href="single-news.html">Strawberry</a></li>
						<li><a href="single-news.html">BErry</a></li>
						<li><a href="single-news.html">Orange</a></li>
						<li><a href="single-news.html">Lemon</a></li>
						<li><a href="single-news.html">Banana</a></li>
					</ul>
				</div>
			</div>
		</div> -->
	</div>
	</div>
	</div>
	<!-- end single article section -->


	<!-- footer -->
	<%- include('parts/footer') %>	<!-- end copyright -->

	<!-- jquery -->
	<%- include('parts/js') %>