<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-10">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <ul>
                        <li>為溫室打造健康日記</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-10">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Contact us</h2>
                    <ul>
                        <li>Mon.to Fri. 9am-3pm</li>
                        <li>AIEN14Group2@test.com</li>
                        <li>02-1234-5678</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-10">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/camera">My Camera</a></li>
                        <li><a href="/photo">My Photo</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div> -->
        </div>
    </div>
</div>
<!-- end footer -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="chat">
        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block' ">
            <i class="fab fa-rocketchat fa-3x"></i></a>
    </div>

    <div id="light" class="white_content">

        <span class="">
			你的植物好朋友
		</span>
        <span style="position:absolute; right:5%">
			<a href="javascript:void(0)"
				onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none '"><i
					class="fas fa-times"></i></a>
		</span>

        <div>
            <iframe src='https://webchat.botframework.com/embed/aien1490bot-bot?s=3go_NePy1SY.g1PyaWLLyu78tSpzYY3HgLuYXQNlZXn7mnmGQeQniVo' style='min-width: 300px; width: 100%; min-height: 400px;'></iframe>
            <a href='https://developers.line.biz/console/'>@line</a>
        </div>


    </div>
    <div id="fade" class="black_overlay"></div>
</div>